{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "presets": [
    ["env", {
        "modules": false
    }],
    "react",
    "stage-0"
  ],

  "env": {
    "es6": {
      "presets": [
        ["env", {
            "loose": true,
            "modules": false
          }],
        "stage-1",
        "react"],
      "plugins": [
        "transform-runtime",
        ["module-resolver", {
            "root": [
              "./src"
            ]
          }
        ]
      ]
    }
  }
}