@import '../styles';

.table-container {
  @extend %container;
  border-collapse: separate;

  > thead {
    > tr {
      > th {
        @extend %header;
        border-top: $border;
        border-bottom: $border;

        &:first-of-type {
          border-top-left-radius: $border-radius;
        }

        &:last-of-type {
          border-top-right-radius: $border-radius;
        }
      }
    }
  }

  > tbody {
    > tr {
      &:nth-of-type(odd) {
        background-color: $grey-light;
      }

      &:last-of-type {
        > td {
          border-bottom: $border;

          &:first-of-type {
            border-bottom-left-radius: $border-radius;
          }

          &:last-of-type {
            border-bottom-right-radius: $border-radius;
          }
        }
      }
    }
  }

  td,
  th {
    @extend %row;
    border-left: $border;

    &:last-of-type {
      border-right: $border;
    }
  }
}
